server {
  listen 80 default_server;
  listen [::]:80 default_server;
{% if domain|string() != 'localhost' %}
  server_name {{ domain }} www.{{ domain }};
{% else %}
  server_name localhost;
{% endif %}
  
  return 301 https://$server_name$request_uri;
}

server {
  listen 443 ssl http2 default_server;
  listen [::]:433 ssl http2 default_server;

{% if lets_encrypt %}
	ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
{% else %}
	ssl_certificate /etc/ssl/certs/certificate.crt;
	ssl_certificate_key /etc/ssl/private/private.key;
{% endif %}
	
	ssl_session_timeout 30m;
  ssl_session_cache shared:SSL:20m;
  ssl_session_tickets off;

{% if lets_encrypt %}
	ssl_dhparam /etc/letsencrypt/live/{{ domain }}/dhparam.pem;
{% else %}
	{% if dhparam %}
	ssl_dhparam /etc/ssl/certs/dhparam.pem;
	{% endif %}
{% endif %}

	ssl_protocols TLSv1.2;
  ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';
	
	ssl_prefer_server_ciphers on;

{% if lets_encrypt %}
	ssl_stapling on;
	ssl_stapling_verify on;
	ssl_trusted_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
{% else %}
	{% if ssl_trusted_certificates %}
    ssl_stapling on;
	  ssl_stapling_verify on;
  	ssl_trusted_certificate /etc/ssl/certs/ca.crt;
	{% endif %}
{% endif %}

  location /static {
    alias /static;
  } 

  location / {
    proxy_pass http://api:8000;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
} 
